    <nav>
        <div class="py-1 flex justify-between items-center">
            <span>
                <img src="../../../assets/img/logo.png" alt="" width="200" class="">
            </span>

            <div>
                <ul class="flex text-2xl gap-4">
                    <li>
                        <a href="#" class="hover:text-blue-600">Home</a>
                    </li>
                    <li>
                        <a routerLink="/produtos" class="hover:text-blue-600">Administrador</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<hr class="shadow-lg">
