<div class="container mx-auto">
    <div class="bg-white p-4 rounded my-10">
        <input type="search" placeholder="Digite o nome do produto" class="rounded py-2 px-3 bg-gray-100 w-96">
        <button class="bg-blue-500 text-white py-2 px-5 rounded ml-3 text-center">Buscar</button>
    </div>

    <div class="bg-white rounded w-full">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome do Produto</th>
                <th scope="col">Preço</th>
                <th scope="col">Preço Promoção</th>
                <th scope="col">Estoque</th>
                <th scope="col">Visível</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <th scope="row">{{product.name}}</th>
                <td>{{product.name}}</td>
                <td>{{product.name}}</td>
                <td>{{product.name}}</td>
                <td>{{product.name}}</td>
                <td>{{product.name}}</td>
              </tr>
            </tbody>
          </table>
          
    </div>

    <div class="flex justify-end bg-gray-200 p-4 rounded my-10">
        <button class="bg-blue-900 text-white py-2 px-5 rounded ml-3 text-center" routerLink="/formulario">Cadastrar novo produto</button>
    </div>
</div>