<div class="mx-5 md:mx-auto bg-white h-full my-10 rounded">
    <div class="grid grid-cols-1 md:grid-cols-2 py-10 px-5">
        <div class="md:ml-10 border-r border-black">
            <h5 class="text-3xl font-bold py-5">Informações Principais</h5>

            <div> 
                <span>status</span> 
            </div>

            <div>
                <label for="">Nome do produto</label>
                <input type="text">
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 mb-10">
                <div>
                    <label for="">Estoque</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Preço</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Preço Promocional</label>
                    <input type="text">
                </div>
            </div>

            <div>
                <label for="">Breve Descrição</label>
            </div>
        </div>
        <div class="md:ml-10">
            <h5 class="text-3xl font-bold py-5">Informações Principais</h5>

            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="">
                    <label for="img">Príncipal</label>
                </div>
                <div>
                    <label for="img">Alternativa</label>
                </div>
            </div>
        </div>
    </div>
</div>